*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(360deg, rgba(244, 67, 200) -20%, rgba(0, 0, 0));
  width: 100%;
  height: 100vh;
}
main{
  height: calc(100vh);
 display: flex;
 justify-content: center;
 align-items: center;
}
.inside-container{
  width: 600px;
  background-image: url('./waetherComponents/images/weather-bg-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  border-radius: 10px;
}
form{
  width: 250px;
}
.bars{
margin-left: 10px;
font-size: 1.3em;
float: right !important;
}
form input{
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.4);
border: 1px solid white;
color: white;
}
.country{
  font-size: 1.4em;
  font-weight: 400;
  text-transform: capitalize;
}
.header{
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: minmax(30px, auto);
  padding: 18px;
}
.container{
  height: min-content;
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-template-rows: minmax(100px, auto);
  padding: 18px;
}
.month, .date, .time{
  font-size: 18px;
}
.time{
  margin-left: 12px;
}
.temperature{
  font-size: 9.9em;
  font-weight: 600;
  width: fit-content;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 52%, rgba(0, 200, 250, 0.8));
  -webkit-background-clip: text; /* Clips background to text */
  -webkit-text-fill-color: transparent; /* Makes text transparent to show gradient */
  font-weight: bold;
}
.temperature span{
  font-size: 60px;
  position: relative;
  margin-left: 7px;
  top: -75px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 52%, rgba(240, 240, 240, 0.8));
  -webkit-background-clip: text; /* Clips background to text */
  -webkit-text-fill-color: transparent; /* Makes text transparent to show gradient */
  font-weight: bold;
}
.info{
  transform: rotate(270deg);
  width: 200px;
  height: 40px;
  position: relative;
  top: 65px;
  font-size: 1.2em;
  text-align: center;
  text-transform: capitalize;
}
.moderate{
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 130px;
  font-size: 18px;
  padding: 10px;
  border-radius: 6px;
  color: white;
  backdrop-filter: blur(4px);
}
.cover{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.analytics{
  width: 500px;
  /* background-color: rgb(255, 255, 255, 0.2); */
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: space-around;
  padding: 8px;
  border-radius: 10px;
  backdrop-filter: blur(3px);
}
.analytics div{
padding: 10px;
border-left: 2px solid rgba(255, 255, 255, 0.556);
color: whitesmoke;
}
.hourly-focust{
  display: flex;
  justify-content: space-evenly;
}